html {
  background-color: black;
}

@font-face {
  font-family: 'protosemitic';
  src: url(fonts/proto10.ttf) format('truetype');
}
@font-face {
  font-family: 'phoenician';
  src: url(fonts/phnc10.ttf) format('truetype');
}
@font-face {
  font-family: 'obry';
  src: url(fonts/obry3.ttf) format('truetype');
}
